.main {
    text-align: center;
}

.card {
    margin: auto;
    text-align: center;
}

.kepek {
    width: 150px;
    height: 150px;
}

#box {
    float: left;
    width: 100px;
    height: 100px;
    font-size: 85px;
    text-align: center;
    cursor: pointer;
    line-height: 90px;
    border-radius: 50%;
}

.adatok {
    width: 300px;
    overflow: hidden;
    margin: 50px auto 0 auto;
}

@media only screen and (max-width: 650px) {
    .tartalom{
        display: grid;
        grid-template-columns: 1fr;
    }
    .card{
        margin: 5px;
        width: 60%;
    }

  }